@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100vh;
  font-family: Inconsolata, monospace;

  @apply bg-gray-900;
}

*::selection {
  @apply bg-purple/40;
}

#__next {
  height: 100vh;
}

@layer base {
  a {
    @apply no-underline;
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  opacity: 1;
}

.blur {
  content: '';
  -webkit-filter: blur(0.4px);
  filter: blur(0.4px);
}

.blur-xl {
  filter: blur(36px);
}

.animate-gradient {
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
